@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
.bg-dark {
  background-color: #232323;
  border-radius: 2px; }

.navbar-toggler {
  align-items: right; }

.logo, .logo2 {
  width: 250px; }

.logo2:hover {
  transform: scale(1.05);
  transition: transform .5s ease;
  overflow: hidden; }

body {
  background-color: #fffaf1; }

p {
  font-size: 1em;
  font-weight: 400; }

.min-h {
  min-height: 400px; }

.img-fluid:hover {
  transition: transform .2s;
  /* Animation */
  width: 200px;
  height: 200px;
  margin: 0 auto; }

.animation1hover {
  transform: scale(1.05);
  transition: transform .5s ease;
  overflow: hidden; }

.bg-dark {
  background-color: #232323; }

.nav-link {
  text-decoration: none; }
  .nav-link:hover {
    background-color: #ffcb59;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px;
    color: #232323; }

.content {
  margin: 2% 20%; }

.social-media-facebook {
  color: #0078f7; }

.social-media-twitter {
  color: #00acee; }

.social-media-youtube {
  color: #ff0000; }

button {
  background-color: lightgray;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  padding: 10px;
  margin: 0 auto; }

.map-container {
  overflow: hidden;
  padding-bottom: 5%;
  position: relative;
  height: 0; }

.map-container iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute; }

.showcase {
  margin-bottom: 50px; }
